@model IEnumerable<ProjectNhom12.Models.Sinhvien>

@{
    ViewData["Title"] = "trangCaNhaSV";
}

<h1>trangCaNhaSV</h1>

<style>

    .anh {
        height: 250px;
        border-radius: 5px;
        text-align: center;
        position: relative;
    }

        .anh:hover {
            border: 1px solid blue;
        }

    .anh img {
        height: 180px;
    }

    .anh {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: large;
        color: blue;
    }
</style>
<div class="row">
    @foreach (var hh in Model)
    {
        <div class="col-md-4 anh">
            <a asp-action="trangCaNhaSV" asp-controller="Sinhviens" asp-route-id="@hh.MaSv"></a>
            <img src="~/HinhSV/@hh.HinhSv" />
        </div>
    }
</div>