@model IEnumerable<ProjectNhom12.Models.Monhoc>

@{
    ViewData["Title"] = "dsMon";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<h1>Danh sách môn học</h1>
<table class="table" border="1" style="border-collapse: collapse">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinchi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tinchi)
                </td>
            </tr>
        }
    </tbody>
</table>
