@model ProjectNhom12.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Đăng nhập tại đây</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tendn" class="control-label"></label>
                <input asp-for="Tendn" class="form-control" />
                <span asp-validation-for="Tendn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matkhau" class="control-label"></label>
                <input asp-for="Matkhau" class="form-control" />
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="radio" name="DoiTuong" value="Sinh Viên" id="Sinh Viên">Sinh Viên
                <input type="radio" name="DoiTuong" value="Nhân Viên" id="Nhân Viên">NhânViên
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng Nhập" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

