@model ProjectNhom12.Models.Ketqua

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ketqua</h4>
    <hr />
    <table class="table" border="1" style="border-collapse: collapse">
        <tr col-span="4">
            <th>Masv</th>
            <th>Mahp</th>
            <th>Diem</th>
            <th>KetQua</th>
        </tr>
        <tr col-span="4">
            <td>@Html.DisplayFor(model => model.MaSvcNavigation.MaSv)</td>
            <td>@Html.DisplayFor(model => model.MaHpNavigation.MaHp)</td>
            <td>@Html.DisplayFor(model => model.Diem)</td>
            <td>
                @{
                    if (Model.Diem >= 5)
                    {
                        <img src="~/Mr.T_Hinh/true.jpg">
                    }
                    else
                    {
                        <img src="~/Mr.T_Hinh/false.jpg" />
                    }
                        }
                    </td>
        </tr>
    </table>
    
</div>
<div>
    
    <a asp-action="Details" asp-controller="Sinhvien">Back to List</a>
</div>
