@model ProjectNhom12.Models.Ketqua

@{
    ViewData["Title"] = "CreateKQ";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}
<h4>Ketqua</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateKQ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSvc" class="control-label"></label>
                <select asp-for="MaSvc" class ="form-control" asp-items="ViewBag.MaSvc"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaHp" class="control-label"></label>
                <select asp-for="MaHp" class ="form-control" asp-items="ViewBag.MaHp"></select>
            </div>
            <div class="form-group">
                <label asp-for="Diem" class="control-label"></label>
                <input asp-for="Diem" class="form-control" />
                <span asp-validation-for="Diem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QLKQ">Back to List</a>
</div>

