@model ProjectNhom12.Models.Sinhvien

@{
    ViewData["Title"] = "EditSV";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}

<h1>Cập nhật sinh viên</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSV">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaSv" class="control-label"></label>
                <input asp-for="MaSv" class="form-control" />
                <span asp-validation-for="MaSv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSv" class="control-label"></label>
                <input asp-for="TenSv" class="form-control" />
                <span asp-validation-for="TenSv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nam" class="control-label"></label>
                <input asp-for="Nam" class="form-control" />
                <span asp-validation-for="Nam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKhoa" class="control-label"></label>
                <select asp-for="MaKhoa" class="form-control" asp-items="ViewBag.MaKhoa"></select>
                <span asp-validation-for="MaKhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhSv" class="control-label"></label>
                <input asp-for="HinhSv" class="form-control" />
                <span asp-validation-for="HinhSv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gioitinh" class="control-label"></label>
                <input asp-for="Gioitinh" class="form-control" />
                <span asp-validation-for="Gioitinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmnd" class="control-label"></label>
                <input asp-for="Cmnd" class="form-control" />
                <span asp-validation-for="Cmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

