@model IEnumerable<ProjectNhom12.Models.Sinhvien>

@{
    ViewData["Title"] = "Search";
}

<fieldset>
    <legend>Tìm kiếm</legend>
    <form>
        <text>Name: </text><input name="Name" />
        <button>Search</button>
    </form>
</fieldset>
<h2>Kết quả tìm kiếm</h2>
<table class="table table-hover">
    <tr>
        <th>MaSv</th>
        <th>TênSV</th>
        <th>Năm</th>
        <th>Giới tính</th>

    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.MaSv</td>
            <td>@p.TenSv</td>
            <td>@p.Nam</td>
            <td>@p.Gioitinh</td>
            

        </tr>
    }
</table>
