
@{
    ViewData["Title"] = "Upload";
}

<h2>Demo Upload</h2>
<form asp-action="UploadFile" enctype="multipart/form-data">
    <h3>Upload Single File</h3>
    <input type="file" name="myfile" />
    <button>Upload</button>
</form>
<form asp-action="UploadFiles" enctype="multipart/form-data">
    <h3>Upload Multi File</h3>
    <input type="file" name="myfile" multiple />
    <button>Upload</button>
</form>

